		{include file="public/header1" /}
		<link rel="stylesheet" type="text/css" href="__STATIC__/common/paging/paging.css">
		<script type="text/javascript" src="__STATIC__/common/paging/paging.js"></script>
		<script type="text/javascript" src="__STATIC__/common/paging/page.js"></script>
		<script type="text/javascript" src="__STATIC__/common/paging/jquery.tmpl.min.js"></script>
		
		<div class="studio_introduct">
			<div class="container" style="min-width:1170px;">

				{include file="public/studio" /}

				<style type="text/css">
					tr th,td{text-align: center}
				</style>

				<div class="studion-history">
					<table class="table table-striped">
						<tr>
						<tr>
							<!-- <th>合约</th> -->
							<th>合约</th>
							<th>时间</th>
							<th>方向</th>
							<th>开平</th>
							<th>手数</th>
							<th>价格</th>
							<th>仓位</th>
							<th>平仓盈亏</th>
						</tr>
						</tr>
				        <tbody id="content" class="table-b">
				            <tr>
				                <td colspan="9" style="text-align: center">
				                    暂无数据
				                </td>
				            </tr>
				        </tbody>
					</table>
				</div>

    <!-- 列表底部按钮 -->
    <div class="paginations">
        <div id="pageTool"><p class="count-page"></p></div>
    </div>

	<script id="tpl" type="text/x-jquery-tmpl">
		<tr>
			<!-- <td>导师VVV</td> -->
			<td>${insID}</td>
			<td>${date} ${time}</td>
			<td>${BS}</td>
			<td>${OC}</td>
			<td>${lot}</td>
			<td>${price}</td>
			<td>${posRatio}</td>
			<td>${profit}</td>
		</tr>
	</script>



				<script type="text/javascript">
					var id = {$_GET['id']};
					// console.log(id)
					var url = "{:url('ajax_log')}"
				    $('#pageTool').page(url+'?id='+id, function (data, obj) {
				        // 分页
				        if (data.data.count > 0) {
				            $("#content").html('');
				            $("#tpl").tmpl(data.data.data).appendTo('#content');
				        } else {
				            var tpl = '<tr><td colspan="9" style="text-align: center">暂无数据</td></tr>';
				            $("#content").html(tpl);
				        }
				    });

					$('.studio-type ul li .studion-main').eq(3).css({'background':'#4679bd','color':'#fff'}).find('img').attr('src','__STATIC__/index/images/zs1.png')

				</script>
			</div>
		</div>
  
		{include file="public/footer1" /}


  	</body>
</html>