		{include file="public/header1" /}
		<script src="__STATIC__/highcharts-plugins/char.js"></script>
		<div class="studio_introduct">
			<div class="container" style="min-width:1170px;">
				{include file="public/studio" /}
				<div class="studion-jiaoyifenxi">
					<button class="btn jyfx-title">
						账户概况
					</button>
				</div>

				<div class="jy-type">
					<ul>
						<li>综合积分：{$info.score}</li>
						<li>净值(图)：{$info.mulNetValue}</li>
						<li>累计收益率(图)：{$info.mulProfitRatio}</li>
						<li>年化收益率:{$info.mulProfitRatioPerYear} </li>
						<li class="active" data="equity">每日权益(图)：wuwu</li>
						<li>净利润(图)：{$info.netProfit}</li>
						<li>累计出入金：{$info.deposit}</li>
						<li>总手续费：</li>
						<li>盈亏效率(图)：wuwuwu</li>
						<li>胜率(图)：{$info.winRate}</li>
						<li>盈亏比(图)：{$info.totalWinLossRatio}</li>
						<li>风报比(图)：{$info.rewardRatio}</li>
						<li>最大回撤率(图)：{$info.maxReduceRatio}</li>
						<li>夏普比率(图)：{$info.sharpRatio}</li>
						<li>卡玛比率(图)：{$info.kamaRatio}</li>
						<li data="prdID_trdRatio">品种成交偏好(图)</li>
						<li data="prdID_netProfit" >品种净利润(图)：wuwu</li>
						<li>品种胜率(图)</li>
						<li>总交易天数(图)：{$info.dealDays}</li>
						<li>总交易次数(图)：{$info.lot}</li>
						<li>交易频率(图)：{$info.dealFrequency}</li>
					</ul>
				</div>

				<div class="js-content">
					<div class="js-shaixuan">
						<span class="pp">筛选:</span>
						<select>
							<option>全部</option>
							<option>一年</option>
							<option>六个月</option>
							<option>三个月</option>
						</select>
					</div>

					<div class="zhexiantu">
			          <div id="chart-composite-1"><svg height=225></svg></div>
					</div>
				</div>
				<script type="text/javascript">
					// let x = ["2007", "2008", "2009", "2010", "2011", "2012","2013", "2014", "2015", "2016", "2017"];
					// let y = [152, 222, 199, 287, 534, 709,1179, 1256, 1632, 1856, 1850];

					// zhexiantu("#chart-composite-1",x,y,titlename);
					// bingzhuangtu("#chart-aggr",x,y)
					// xiaozhexian("#chart-trends",x,y);
					// zhuzhuangtu("#chart-events",x,y);
					var id = {$info.studio_id},type;
					$('.jy-type ul li').click(function(){
						type = $(this).attr('data');
						if(!type){
							return false;
						}
						$(this).addClass('active').siblings().removeClass('active')
						get_info(type);
					})

					get_info('equity');

					function get_info(type){
						$.ajax({
							url:"{:url('Studioinfo/get_info')}",
							data:{type:type,id:id},
							success:function(res){
								console.log(res)
								console.log(typeof(res))
								if(type=='prdID_netProfit'){
									chartzhu("chart-composite-1",res,'title')
								}else if(type=='prdID_trdRatio'){
									//饼状图
									chartbing("chart-composite-1",res,'title');
								}else{
									// chart1("chart-composite-1",res);
									chart1("chart-composite-1",res);
								}
							}
						})
					}

				</script>



				<div class="jy-fb">
					<div>
						<button class="btn">盈利能力</button>
						<button class="btn">风控能力</button>
						<button class="btn">稳定性</button>
						<button class="btn">盈亏分析</button>
						<button class="btn">交易分析</button>
						<button class="btn">品种分析</button>
						<button class="btn">其他分析</button>
						<button class="btn">原始数据</button>
					</div>

					<div>
						<span>日内/隔夜分布饼状图</span>
						<span>每日仓位(曲线图)</span>
						<span>交易频率</span>
						<span>盈亏效率(曲线图)</span>
					</div>
				</div>
			

				<div class="js-content">
					<div class="js-shaixuan">
						<span class="pp">筛选:</span>
						<select>
							<option>全部</option>
							<option>一年</option>
							<option>六个月</option>
							<option>三个月</option>
						</select>
					</div>

					<div class="zhexiantu">
			              <div id="chart-aggr"></div>
					</div>
				</div>


				<div class="js-content">
					<div class="nomsg">
						<img src="__STATIC__/index/images/nomsg.png">
					</div>
				</div>



				<script type="text/javascript">
					$('.studio-type ul li .studion-main').eq(0).css({'background':'#4679bd','color':'#fff'}).find('img').attr('src','__STATIC__/index/images/zs1.png')

				</script>
			</div>
		</div>
  
		{include file="public/footer1" /}


  	</body>
</html>