		{include file="public/header1" /}
		<div class="studio_introduct">
			<div class="container" style="min-width:1170px;">


				{include file="public/studio" /}
	


				<div class="studion-info">
					<div class="si-left">
							<p>工作室名称：{$info.studioname}</p>
							<p>工作室UID：{$info.id}</p>
							<p>交易策略：
								{if $info.celue ==1}
								趋势
								{else /}
									套利对冲
								{/if}
							</p>
							<p>交易方式：
								{if $info.fangshi==1}
								主观
								{else /}
								量化
								{/if}
							</p>
							<p>交易周期：
								{if $info.fangshi==1}
									日内短线
								{elseif $info.fangshi==2}
									隔夜短线
								{elseif $info.fangshi==3}
									中短线
								{elseif $info.fangshi==4}
									中长线
								{elseif $info.fangshi==5}
									长线
								{/if}

							</p>
							<p>交易风格：稳健</p>
							<p>报酬方式：{$info.price}元/月</p>
							<p>创建时间：{$info.create_time}</p>
					</div>
					<div class="si-right">
						<p>个人介绍</p>
							<div><textarea></textarea></div>

						<p>工作室简介</p>
							<div><textarea disabled="disabled">{$info.description}</textarea></div>
					</div>
				</div>


				<script type="text/javascript">
					$('.studio-type ul li .studion-main').eq(4).css({'background':'#4679bd','color':'#fff'}).find('img').attr('src','__STATIC__/index/images/zs1.png')
				</script>
			</div>
		</div>
  
		{include file="public/footer1" /}


  	</body>
</html>