		{include file="public/header1" /}

		<link rel="stylesheet" type="text/css" href="__STATIC__/common/paging/paging.css">
<script type="text/javascript" src="__STATIC__/common/paging/paging.js"></script>
<script type="text/javascript" src="__STATIC__/common/paging/page.js"></script>
<script type="text/javascript" src="__STATIC__/common/paging/jquery.tmpl.min.js"></script>
		<div class="studio_introduct">
			<div class="container" style="min-width:1170px;">

				{include file="public/studio" /}





				<div class="studion-history">
					<table class="table table-striped">
						<tr>
						<tr>
							<th>合约</th>
							<th>多空</th>
							<th>数量</th>
							<th>均价</th>
							<th>盈亏</th>
							<th>开仓日期</th>
						</tr>
						</tr>
				        <tbody id="content" class="table-b">
				            <tr>
				                <td colspan="6" style="text-align: center">
				                    暂无数据
				                </td>
				            </tr>
				        </tbody>
<!-- 							<tr>
								<td>棕榈油P1801</td>
								<td>多单</td>
								<td>7</td>
								<td>123123</td>
								<td>5556</td>
								<td>2019年7月16日</td>
							</tr> -->
					</table>
				</div>

    <!-- 列表底部按钮 -->
    <div class="paginations">
        <div id="pageTool"><p class="count-page"></p></div>
    </div>

	<script id="tpl" type="text/x-jquery-tmpl">
	    <tr>
			<td>棕榈油P1801</td>
			<td>多单</td>
			<td>7</td>
			<td>123123</td>
			<td>5556</td>
			<td>2019年7月16日</td>
		</tr> 
	</script>


				<script type="text/javascript">
				    $('#pageTool').page("{:url('ajax_hold')}", function (data, obj) {
				        // 分页
				        if (data.data.count > 0) {
				            $("#content").html('');
				            $("#tpl").tmpl(data.data.data).appendTo('#content');
				        } else {
				            var tpl = '<tr><td colspan="6" style="text-align: center">暂无数据</td></tr>';
				            $("#content").html(tpl);
				        }
				        
				    });

				    function ppp(obj){
				    	var url = "{:url('index/studioinfo/index')}";
				    	var id = $(obj).attr('data');
				    	// window.location.href=;
				    	window.open(url+"?id="+id);   
				    	// console.log(url+"?id="+id)
				    }



					$('.studio-type ul li .studion-main').eq(2).css({'background':'#4679bd','color':'#fff'}).find('img').attr('src','__STATIC__/index/images/zs1.png')


				</script>
			</div>
		</div>
  
		{include file="public/footer1" /}


  	</body>
</html>