		{include file="public/header1" /}
		<div class="studio_introduct">
			<div class="container" style="min-width:1170px;">
				{include file="public/studio" /}
				<style type="text/css">
					table th,td{text-align: center}
				</style>
				<div class="studion-history">
					<table class="table table-striped">
						<tr>
						<tr>
							<th>合约</th>
							<th>多空</th>
							<th>数量</th>
							<th>均价</th>
							<th>仓位</th>
							<th>开仓日期</th>
						</tr>
						</tr>
				        <tbody id="content" class="table-b">
					        {if isset($list)}
					        	{foreach name="list" item="item"}
						            <tr>
						                <td>{$item.insID}</td>
						                {if $item.vol > 0}
						                <td>多仓</td>
						                {elseif $item.vol < 0 /}
						                <td>空仓</td>
						                {elseif $item.vol == 0 /}
						                <td>无仓</td>
						                {/if}
						                <td>{$item.vol}</td>
						                <td>{$item.pri}</td>
						                <td>{$item.posRatio}</td>
						                <td>{$item.day}</td>
						            </tr>
					            {/foreach}
				            {/if}
<!-- 				            <tr>
				                <td colspan="6" style="text-align: center">
				                    暂无数据
				                </td>
				            </tr> -->
				        </tbody>
					</table>
				</div>
				<script type="text/javascript">
					$('.studio-type ul li .studion-main').eq(2).css({'background':'#4679bd','color':'#fff'}).find('img').attr('src','__STATIC__/index/images/zs1.png')
					var bro_user = "{$futures_company}"+'_'+{$userID};

					ws = new WebSocket("ws://www.51dewen.com:2366");
					ws.onopen = function() {
					    console.log("连接成功");
					    ws.send('tom');
					    // console.log("给服务端发送一个字符串：tom");
					};
					ws.onmessage = function(e) {

						var data = e.data;
						var a;
						var obj = JSON.parse(data)
						var arr = [];
						for (var i = 0; i < obj.length; i++) {
							if(bro_user==obj[i].name){
								arr.push(obj[i]);
							}
						}

						var html = '';
						for (var i = 0; i < arr.length; i++) {
								html+='<tr>'+
					                '<td>'+arr[i].insID+'</td>'+
					                '<td>'+arr[i].vol1+'</td>'+
					                '<td>'+parseInt(arr[i].vol)+'</td>'+
					                '<td>'+parseInt(arr[i].pri)+'</td>'+
					                '<td>'+(arr[i].posRatio*100).toFixed(2)+'%</td>'+
					                '<td>'+arr[i].day+'</td>'+
					            '</tr>';
						}
						$('#content').prepend(html)
						// console.log(obj.length);
						// console.log(typeof(obj))
					    // console.log("收到服务端的消息：" + e.data);
					};


				</script>
			</div>
		</div>
  
		{include file="public/footer1" /}


  	</body>
</html>