		{include file="public/header1" /}
		<style type="text/css">
			table th,td{text-align: center}
		</style>
		<div class="studio_introduct">
			<div class="container" style="min-width:1170px;">

				{include file="public/studio" /}

				<audio src="__STATIC__/index/time1.mp3" id="myaudio" controls="controls"  hidden="true"></audio>				
			    <input type="button" onclick="autoPlay()" value="播放" />
			    <input type="button" onclick="closePlay()" value="关闭" />

			    <script language="javascript" type="text/javascript">
			        function autoPlay(){
			            var myAuto = document.getElementById('myaudio');
			            myAuto.play();
			        }
			        function closePlay(){
			            var myAuto = document.getElementById('myaudio');
			            myAuto.pause();
			        }
			    </script>


				<div class="studion-history">
					<table class="table table-striped">
						<tr>
							<th>工作室名称</th>
							<th>合约</th>
							<th>时间</th>
							<th>方向</th>
							<th>开平</th>
							<th>手数</th>
							<th>价格</th>
							<th>仓位</th>
							<th>平仓盈亏</th>
						</tr>

				        <tbody id="content" class="table-b">
				        {if isset($list)}
				        	{foreach name="list" item="item"}
					            <tr>
					                <td>{$info.studioname}</td>
					                <td>{$item.insID}</td>
					                <td>{$item.date} {$item.time}</td>
					                <td>{if condition="$item.BS eq 'B'"}买入{/if}{if condition="$item.BS eq 'S'"}卖出{/if}</td>
					                <td>{if condition="$item.OC eq 'O'"}开仓{/if}{if condition="$item.OC eq 'C'"}平仓{/if}</td>
					                <td>{$item.lot}手</td>
					                <td>{$item.price}</td>
					                <td>{$item.posRatio}</td>
					                <!-- posRatio-->
					                <td>{$item.profit}</td>
					            </tr>
				            {/foreach}
				            {/if}
						</tbody>
					</table>
				</div>

				<script type="text/javascript">

					$('.studio-type ul li .studion-main').eq(1).css({'background':'#4679bd','color':'#fff'}).find('img').attr('src','__STATIC__/index/images/zs1.png')

					var studioname = "{$info.studioname}";
					var bro_user = "{$futures_company}"+'_'+{$userID};
					console.log(bro_user);

					ws = new WebSocket("ws://www.51dewen.com:2345");
					ws.onopen = function() {
					    console.log("连接成功");
					    ws.send('tom');
					    // console.log("给服务端发送一个字符串：tom");
					};
					ws.onmessage = function(e) {
						var data = e.data;
						var a;
						var obj = JSON.parse(data)

						var arr = [];
						for (var i = 0; i < obj.length; i++) {
							if(bro_user==obj[i].name){
								arr.push(obj[i]);
							}
						}

						var html = '';
						for (var i = 0; i < arr.length; i++) {
							html+='<tr>'+
				                '<td>'+studioname+'</td>'+
				                '<td>'+arr[i].insID+'</td>'+
				                '<td>'+arr[i].date+arr[i].time+'</td>'+
				                '<td>'+arr[i].BS+'</td>'+
				                '<td>'+arr[i].OC+'</td>'+
				                '<td>'+arr[i].lot+'手</td>'+
				                '<td>'+arr[i].price+'</td>'+
				                '<td>'+arr[i].posRatio+'</td>'+
				                '<td>'+arr[i].profit+'</td>'+
				            '</tr>';
						}
						$('#content').prepend(html)
							// autoPlay();
						// console.log(obj.length);
						// console.log(typeof(obj))
					    // console.log("收到服务端的消息：" + e.data);
					};

				</script>
			</div>
		</div>
  
		{include file="public/footer1" /}


  	</body>
</html>