@media screen and (max-width: 1170px) {
/*	.web_logo{
		display: none
	}*/
	.descript    {
		display: none
	}
	.content{
		min-width: inherit;
		width: 578px !important;
	}
	.content-left{
		display: none;
	}
	.content-right{
		width: 100% !important;
	}
	footer  .container .footer-item:nth-child(1){
		display: none
	}
	footer .container .footer-item{
		width: 25%;
		float: left;
		height: 230px;
	}

}
@media (max-width: 992px){
	.container {
	    width: 100%;
	}
	.web_logo{
		display: none
	}

	footer .container .footer-item{
		width: 25%;
		float: left;
		height: 230px;
	}

}
@media (max-width: 768px){
	footer  .container .footer-item:nth-child(2){
		display: none;
	}
	footer  .container .footer-item:nth-child(3){
		display: none
	}
	footer .container .footer-item{
		width: 50%;
		float: left;
		height: 230px;
	}

	.nav{
		display: none
	}	
}

@media (max-width: 768px){
	header{height: 60px}
	.web_logo{height: 60px}
	footer  .container .footer-item:nth-child(4){
		display: none
	}
	footer .container .footer-item{
		width: 100%;
		float: left;
		height: 230px;
	}

	.section{
		min-height: 550px;
		height: 550px;
		background: none
	}
	.web_logo {
	    display: block;
	}
	.title {
	    margin-top: 10px;
	    padding: 0;
	    font-size: 26px;
	    text-align: center;
	}

	.content {
	    min-width: inherit;
	    width: 100% !important;
	    margin-top: 0;
	}
	.content-right .title{
		margin-top: 0;
	}

	.text-input {
	    width: 84%;
	}
}