.index .container{width: 1350px;}
.index-link .container{width: 1350px;}


/*edit-pwd*/
.section{
	width: 100%;
	/*height: 800px;*/
    background: url(../images/bg.png);
    /*background-size: 100%;*/
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px
}
.section .container{
	padding: 0;
}
.content{
	/*min-width: 1200px;*/
	margin: 0 auto;
	margin-top: 60px;
	height: 580px;
	background:#fff;
}
.content .content-left{
	height: 100%;
	width: 50%;
	float: left;
	background:linear-gradient(#2f76d4, #6ca1ed);
}

.content-left h1{
	font-size: 80px;
	margin-top: 165px;
	color: #fff;
	text-align: center;
	letter-spacing:8px
}
.content-left .des{
	margin-top: 20px;
	letter-spacing:8px
}
.content-left .des p{
	margin: 0;
	padding: 0;
	width: 100%;
	color: #fff;
	font-size: 34px;
	text-align: center;
	margin-top: -20px;
}
.content .content-right{
	width: 50%;
	float: left;
}
.content .content-right form{
	margin-top: 35px;
}
.content-right .title{
	font-size: 24px;
	color: #4679bd;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
.text-input{
	width: 54%;
	margin:0 auto;
	margin-top: 20px;
	height: 36px;
}
.reg-text-input{
	width: 60%;
	margin:0 auto;
	margin-top: 20px;
	height: 36px;
}
.text-input .input-icon{
	width: 20%;
	float: left;
	height: 100%;
}
.reg-text-input .reg-input-icon{
	width: 30%;
	float: left;
	height: 100%;
	line-height: 36px
}
.reg-text-input .reg-input-icon i{
	color:red;
	font-weight: bold;
	padding: 10px 5px;
	font-size: 20px
}

.text-input .input-icon img{
	margin-top: 4px;
}
.text-input .input{
	width: 80%;
	float: left;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 1px
}
.reg-text-input .input{
	width: 68%;
	float: left;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 1px
}
.text-input .input input{
	border: none;
	width: 100%;
	height: 95%;
	text-indent: 5px;
	border-radius: 2px;
	margin-top: 1px;

}
.reg-text-input .input input{
	border: none;
	width: 100%;
	height: 95%;
	text-indent: 5px;
	border-radius: 2px;
	margin-top: 1px;

}

.text-input .yzm{
	width: 32%;
	float: left;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.reg-text-input .yzm{
	width: 32%;
	float: left;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.text-input .sjyzm{
	width: 50%;
	float: left;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.reg-text-input .sjyzm{
	width: 50%;
	float: left;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.text-input .yzm input{
	border: none;
	width: 100%;
	height: 98%;
	text-indent: 5px;
	border-radius: 2px;
	font-size: 12px;
}
.reg-text-input .yzm input{
	border: none;
	width: 100%;
	height: 98%;
	text-indent: 5px;
	border-radius: 2px;
	font-size: 12px;
	margin-top: 1px
}
.text-input .sjyzm input{
	border: none;
	width: 100%;
	height: 100%;
	text-indent: 5px;
	border-radius: 2px;
	font-size: 12px;
}
.reg-text-input .sjyzm input{
	border: none;
	width: 100%;
	height: 98%;
	text-indent: 5px;
	border-radius: 2px;
	font-size: 12px;
}
.yzmtext{
	width: 35%;
	float: left;
	font-size: 12px;
	color: #ccc;
	text-align: center;
	line-height: 42px;

}
.mkpwd{
	width: 54%;
	margin: 0 auto;
}
.mkpwd button{
	width: 100%;
	background: #4679bd;
	color: #fff;
	height: 38px;
	border: none;
	margin-top: 25px;
	border-radius: 5px;

}

.register{
	width: 54%;
	margin: 0 auto;
}
.register button{
	width: 100%;
	background: #4679bd;
	color: #fff;
	height: 38px;
	border: none;
	margin-top: 25px;
	border-radius: 5px;

}
.fanhui{
	width: 54%;
	margin: 0 auto;
}
.fanhui button{
	width: 100%;
	background: #e8e8e8;
	color: #333333;
	height: 38px;
	border: none;
	margin-top: 15px;
	border-radius: 5px;

}

/*subscribe*/
.subscribe{
	background: #f5f5f5;
	min-width: 1200px;
}
.subscribe .container{
	min-width: 1200px;
	min-height: 700px
}
.sub-left{
	width: 200px;
	float: left;
	background: #fff;
	min-height: 700px;
}
.sub-left .sub-headimg{
	height: 200px;
	text-align: center;

}
.sub-left .sub-headimg img{
	border-radius: 50%;
	width: 80px;
	margin-top: 45px;
}
.sub-left .sub-headimg p{
	line-height: 30px;
}
.sub-left  ul .active{
	background: #4679bd;
	color: #fff;
}
.sub-left  ul li{
	width: 100%;
	line-height: 45px;
	font-size: 16px;
	text-align: center
}
.sub-right{
	float: left;
	margin-left: 40px;
	width: 900px;
	margin-top: 40px;
	background: #fff;
	min-height: 660px;
}
.sub-right .sr-header{
	background: #e6e6e6;
	height: 46px;
}
.sub-right .sr-header .sr-header-item{
	height: 45px;
	line-height: 45px;
	float: left;
	padding: 0 25px;
}
.sub-right .sr-header .active{
	color: #4679bd;
}
.sub-table table{
	width: 100%;
	margin-bottom: 200px;
}
.sub-table table tr th{
	line-height: 60px;
	text-align: center;
}
.sub-table table tr td{
	text-align: center;
	line-height: 40px;
}
.sub-table table tr td .btn-info{
	background: #4679bd;
	border: none
}

.coupon-title{
	padding: 26px 0px 0px 26px;
}

.coupon-icon{
	margin-left: 50px;
	margin-top: 20px;
	position: relative;
	display: inline-block;
}
.coupon-icon .free-time{
	position: absolute;
	width: 200px;
	text-align: center;
	overflow: height;
	height: 26px;
	line-height: 26px;
	top: 18px;
	color: #fff;
	font-size: 16px;
}
.coupon-icon .youxiao-time{
	position: absolute;
	width: 200px;
	text-align: center;
	overflow: height;
	height: 26px;
	line-height: 26px;
	top: 44px;
	color: #fff;
	font-size: 12px;
	color: #fefefe;
}
.coupon-icon .tiyan-coupan{
	position: absolute;
	width: 70px;
	text-align: center;
	overflow: height;
	height: 26px;
	line-height: 26px;
	top: 29px;
	color: #fff;
	left: 200px;
	font-size: 15px;
	color: #fefefe;
}
.subscribe-pay{
	min-height: 500px;
	margin-top: 60px;
}
.subscribe-pay .coupon-time{
	width: 100px;
	text-align: center;
	float: left;
	font-weight: bold;
}
.subscribe-pay .container{
	margin:0 auto;
    min-width: 900px;
	width: 900px !important;
}
.subscribe-pay .pay-time li{
	display: inline-block;;
	margin-left: 10px;
	padding: 4px 10px;
	height: 65px;
	width: 120px;
}
.subscribe-pay .pay-time li button{
	padding: 4px 10px;
	background: #fff;
	border: none

}
.subscribe-pay .pay-time li .check{
	height: 100%;
	width: 20px;
	float: left;
	text-align: center;
	padding-top: 20px;
}
.subscribe-pay .pay-time li .pay-icon{
	width: 80px;
	height: 100%;
	float: left;
	text-align: center;
}
.subscribe-pay .pay-time li button:hover{
	background: #4679bd;
	border-radius: 4px;
	color: #fff;
}
.subscribe-pay .pay-time li .active{
	background: #4679bd;
	border-radius: 4px;
	color: #fff;

}
.coupon-agreement{
	display: inline-block;
	margin-top: 20px;
	padding-left: 30px;
}
.agreement{
	display: inline-block;
	padding-left: 4px;
}
.agreement span{
	color: #ff9900
}
.pay-button{
	padding-left: 40px;
}
.pay-button button{
	margin-top: 20px;
	background: #4679bd;
	width: 350px;
	color: #fff;
}

/*fuwuneirong*/
.fuwuneirong{
	margin-top: 60px;
	margin-bottom: 100px;
}
.fw-content ul li{
	width: 25%;
	float: left;
	margin-top: 50px;
	text-align: center;
}
.xyzx-content ul li{
	width: 20%;
	float: left;
	margin-top: 50px;
	text-align: center;
}

.fw-content ul li p{
	line-height: 45px;
}

.si-header{
	width: 100%;
	height: 150px;
	background: #f5f5f5;
	box-shadow: 0px 2px 3px 0px #c8cace;  
}
.si-header .headimg{
	width: 120px;
	height: 150px;
	float: left;
	text-align: center;
	padding-top: 25px;
}
.si-header .head-info{
	width: 160px;
	height: 120px;
	float: left;
	padding-top: 58px;
	font-size: 15px;
}
.si-header .head-info p{
	text-indent: 15px;
	margin-top: -8px;
}
.si-header .studio-info{
	width: 280px;
}
.studio-tyoe{
	width: 480px;
	float: left;
	padding-top: 35px;
	padding-left: 30px;
}
.si-header .type-info{
	width: 48%;
	float: left;;
	margin-top: 10px;
}
.si-header .studio-collect{
	width: 160px;
	float: left;
}
.si-header .studio-dingyue{
	width: 200px;
	float: left;
}
.si-header .studio-collect button{
	background: #4679bd;
	color: #fff;
	width: 120px;
	margin-top: 40px
}
.si-header .studio-collect p{
	color: #666666;
	font-size: 14px;
	padding-top: 4px;
}

.si-header .studio-dingyue button{
	background: #4679bd;
	color: #fff;
	width: 120px;
	margin-top: 40px
}
.si-header .studio-dingyue p{
	color: #666666;
	font-size: 14px;
	padding-top: 4px;
}
.si-header .studio-dingyue .studio-status{
	color: red;
	font-size: 11px;
	margin-top: -15px;
}
.studio_introduct{
	margin-bottom: 100px;
}
.studio-type{
	height: 240px;
}
.studio-type ul{
	text-align: center;
	margin-top: 50px;
}
.studio-type ul li{
	width: 20%;
	float: left;
}
.studio-type ul li .studion-main{
	width: 80%;
	text-align: center;
	display: inline-block;
	padding: 20px 30px;
   box-shadow: #c8cace 0px 0px 15px;
   margin-top: 50px;
}

.studio-type ul li .studion-main:hover{
	background: #4679bd;
	color: #fff;
   box-shadow: #4679bd 0px 0px 15px;
   cursor: pointer;
}

.studio-type ul li .studion-main p{
	line-height: 36px;
}
.studion-info{
	width: 100%;
	height: 300px;
}
.studion-info .si-left{
	width: 50%;
	float: left;
	padding-left: 150px;
}
.studion-info .si-right{
	width: 50%;
	float: left;
}
.si-right textarea{
	width: 300px;
	height: 100px;
	margin-left: 60px;
}

/*工作室管理 studio_manage*/
.create-notice{
	border: 1px solid #ccc;
	padding: 15px;
	margin:20px;
	width: 600px;
	margin-left: 48px;
}
.create-notice h5{
	font-size: 16px;
	width: 200px;
	color: #666;
}
.create-notice span{
	display: inline-block;
	font-size: 13px;
	color: #666;
}
.sub-info{
	margin-bottom: 80px;
	padding-left: 20px;
}
.sub-info .sub-title{
	font-weight: bold;
	font-size: 17px;
	padding: 5px 20px;
}
.sub-info .form-group{
	padding-left: 20px;
	margin-top: 20px;
	color: #666;
}
.sub-info .form-group span{
	display: inline-block;
	width: 104px;
}
.sub-info .form-group img{
	margin-left: 10px;
	margin-right: 7px;
}
.sub-info .form-group .sub-money{
	display: inline-block;;
	padding-left: 10px;
}
.sub-info .form-group .sub-notice{
	display: block;
	width: 400px;
	font-size: 12px;
	color: #999999;
	margin-left: 120px;
}
.sub-info .form-group .sub-des{
	margin-left: 120px;
	margin-top: -20px;
}
.sub-info .form-group textarea{
	width: 220px;
	height: 80px
}
.sub-info .form-group .sub-pwd{
	margin-left: 120px;
	margin-top: -20px;
}

.sub-info .form-group .sub-zhanghao{
	margin-left: 120px;
	margin-top: -20px;
}
.sub-info .form-group .selected{
	margin-left: 120px;
	margin-top: -20px;
}
.sub-info .form-group .selected select{
	width: 175px;
	height: 25px;
}
.sub-info .sub-agreement{
	padding-left: 20px;
}
.sub-info .sub-button{
	width: 300px;
	margin-top: 30px;
	padding-left: 20px;
}
.sub-info .sub-button button{
	width: 300px;
	background: #4679bd;
	color: #fff;
}

/*已建的工作室*/
.have-sub-info{
	margin-bottom: 80px;
	padding-left: 20px;
	background: #fff;
}
.have-sub-info .sub-title{
	font-weight: bold;
	font-size: 17px;
	padding: 20px;
	margin-top:20px;
}
.have-sub-info .sub-title button{
	background: #4679bd;
	color: #fff;
	margin-left: 50px;
}
.have-sub-info .form-group{
	padding-left: 20px;
	margin-top: 20px;
	color: #666;
}
.have-sub-info .form-group span{
	display: inline-block;
	width: 120px;
}
.have-sub-info .form-group img{
	margin-left: 10px;
	margin-right: 7px;
}
.have-sub-info .form-group .sub-money{
	display: inline-block;;
}
.have-sub-info .form-group .sub-notice{
	display: block;
	width: 400px;
	font-size: 12px;
	color: #999999;
	margin-left: 122px;
}
.have-sub-info .form-group .sub-des{
	margin-left: 122px;
	margin-top: -20px;
}
.have-sub-info .form-group textarea{
	width: 220px;
	height: 80px
}
.have-sub-info .form-group .sub-pwd{
	margin-left: 120px;
	margin-top: -20px;
}

.have-sub-info .form-group .sub-zhanghao{
	margin-left: 120px;
	margin-top: -20px;
}
.have-sub-info .form-group .selected{
	margin-left: 120px;
	margin-top: -20px;
}
.have-sub-info .form-group .selected select{
	width: 175px;
	height: 25px;
}
.have-sub-info .sub-agreement{
	padding-left: 20px;
}
.have-sub-info .sub-button{
	width: 300px;
	margin-top: 30px;
	padding-left: 20px;
}
.have-sub-info .sub-button button{
	width: 300px;
	background: #4679bd;
	color: #fff;
}

/*studion-jiaoyifenxi*/
.studion-jiaoyifenxi{
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #4679bd;
}
.jyfx-title{
	height: 40px;
	float: left;
	background: #4679bd;
	color: #fff;
	width: 150px;
}
.jy-type{
	padding: 20px 0;
}
.jy-type ul li{
	width: 13.8%;
	font-size: 13px;
	/*float: left;*/
	display: inline-block;
	line-height: 26px;
	height: 26px;
}
.js-shaixuan span{ 
	font-weight: bold;
	font-size: 17px;
	padding: 0px 10px;
}
.js-content{
	border: 2px solid #e0e0e0;
	padding: 20px;
	margin-top: 10px;
}
.js-content .nomsg{
	text-align: center;
	padding: 30px 0;
}
.js-shaixuan select{ 
	width: 100px;
	border-radius: 3px;
	/*color: #ccc;*/
	padding: 5px;

}

.jy-fb{padding: 15px 0px;margin-top: 20px}
.jy-fb div button{margin-right: 20px;border: 1px solid #4679bd;background: #fff}
.jy-fb div button:hover{background: #4679bd;color: #fff}
.jy-fb div span{margin-right: 20px;line-height: 60px;}

/*工作室历史*/
.studion-history table{width: 100%;}
.studion-history table th{line-height: 32px;background: #ddd;text-align: center;}
.studion-history table tr{line-height: 35px;}
.studion-history table td{text-align: center;}

.index-banner{
	width: 100%;
}
.index-banner img {width: 100%;}
.index .container{padding: 40px;}
.index .container ul li{width: 25%;float: left;text-align: center;}
.index .container ul li hr{width: 40px;display: inline-block;color: #ccc;    border-top: 1px solid #ccc;margin-top: 1px;margin-bottom: 4px;}
.index .container ul li .index-main{width: 85%;float: left;text-align: center;	padding: 20px 30px;
   box-shadow: #c8cace 0px 0px 15px;}
.index .container ul li .index-main:hover{background: #4679bd;color: #fff;cursor: pointer;}
.index .container ul li .index-main p{font-size: 17px;font-weight: bold;margin-top: 5px;margin-bottom: -3px;}

.index-link{height: 120px;background: #f5f5f5;width: 100%;}
.index-link .link-title{width: 120px;float: left;height: 120px;text-align: center;padding-top: 30px;}
.index-link .link-item{width: 850px;float: left;height: 120px;padding-top: 10px}
.index-link .link-item div{width: 100%;padding: 20px}
.index-link .link-item span{display: inline-block;; float: left;margin-right: 30px;}


.sjdyq-des{
	line-height: 60px;font-size: 15px;color: #1b335f;font-weight: 600;text-align: center;
}
.sjdyq-title .container{border-bottom: 2px solid #4679bd;padding: 0;}
.sjdyq-title .container .button{background: #4679bd;color: #fff}
.sjdyq-item{padding: 20px 0px;}
.sjdyq-item ul{display: inline-block;float: left;margin-left: 15px;}
.sjdyq-item span{font-weight: bold;font-size:15px;display: inline-block;float: left;}
.sjdyq-item ul li{padding: 2px 6px;display: inline-block;margin-right: 3px;border-radius: 2px;}
.sjdyq-item ul li:hover{background: #4679bd;color: #fff;}
.sjdyq  .container table{width: 100%;}
.sjdyq  .container table tr{height: 100px;}
.sjdyq  .container table td{padding:0;border-top: none}
/*.sjdyq  .container table tr td {display: inline-block;height: 100px;}*/
.sjdyq  .container table tr td .sjdyq-number{padding:2px 5px;color: #4679bd;border: 2px solid #4679bd;font-weight: bold;margin-top:30px;display: inline-block;}
/*.user-info{padding-left: 20px;display: inline-block;width: 120px}*/
.sjdyq  .container table tr td .user-name{display: block;margin-top: 30px;padding-left: 10px}
.sjdyq  .container table tr td .user-uid{display: block;padding-left: 10px}
.sjdyq  .container table .active{margin-top: 10px}
.sjdyq  .container table .sjdyq-td-item span{display: inline-block; width: 72px;line-height: 28px;text-align: center;font-size: 13px;}
.sjdyq  .container table .sjdyq-td-des{color: #4679bd;font-weight: bold;font-size: 15px}
.sjdyq  .container table .sjdyq-td-des span{display: inline-block;margin-right: 20px;line-height: 35px}
.sjdyq  .container table .sjdyq-dynum{display: block;text-align: center;  line-height: 28px}
.sjdyq  .container table .sjdyq-dingyue{text-align: center;  line-height: 28px}
.sjdyq  .container table .sjdyq-dynum .num{margin-top: 10px;}
.sjdyq  .container table .sjdyq-dynum p{margin: 0;line-height: 28px}
.sjdyq  .container table p{text-align: center;}
.sjdyq  .container  table tr .sjdyq-money{margin-top:10px}
.sjdyq  .container table p{padding:0;margin: 0; line-height: 28px}
.sjdyq  .container table .sjdyq-dingyue button{padding:5px 15px;margin: 0;background: #4679bd;color: #fff;font-size: 14px;margin-top: 4px;margin-bottom: 6px;}

.sjdyq-pzyl .table th{font-size: 12px;text-align: center;background: #ddd}

/*shujuzhanshiqu*/
.sjzsq-des{
	line-height: 60px;font-size: 15px;color: #1b335f;font-weight: 600;text-align: center;
}
.sjzsq-title .container{border-bottom: 2px solid #4679bd;padding: 0;}
.sjzsq-title .container .button{background: #4679bd;color: #fff}
.sjzsq-item{padding: 20px 0px;}
.sjzsq-item ul{display: inline-block;float: left;margin-left: 15px;}
.sjzsq-item span{font-weight: bold;font-size:15px;display: inline-block;float: left;}
.sjzsq-item ul li{padding: 2px 6px;display: inline-block;margin-right: 3px;border-radius: 2px;}
.sjzsq-item ul li:hover{background: #4679bd;color: #fff;}
.sjzsq  .container table{width: 100%;}
.sjzsq  .container table tr{height: 100px;}
.sjzsq  .container table td{padding:0;float: left;}
/*.sjzsq  .container table tr td {display: inline-block;height: 100px;}*/
.sjzsq  .container table tr td .sjzsq-number{padding:2px 5px;color: #4679bd;border: 2px solid #4679bd;font-weight: bold;margin-top:30px;display: inline-block;}
.user-info{padding-left: 20px;display: inline-block;width: 120px}
.sjzsq  .container table tr td .user-name{display: block;margin-top: 30px;padding-left: 10px}
.sjzsq  .container table tr td .user-uid{display: block;padding-left: 10px}
.sjzsq  .container table .active{margin-top: 10px}
.sjzsq  .container table .sjzsq-td-item span{display: inline-block; width: 95px;line-height: 28px;text-align: center;font-size: 13px;}
.sjzsq  .container table .sjzsq-td-des{color: #4679bd;font-weight: bold;font-size: 15px}
.sjzsq  .container table .sjzsq-td-des span{display: inline-block;margin-right: 40px;line-height: 35px}
.sjzsq  .container table .sjzsq-dynum{display: block;text-align: center;  line-height: 28px}
.sjzsq  .container table .sjzsq-dynum .num{margin-top: 10px;}
.sjzsq  .container table .sjzsq-dynum p{margin: 0;line-height: 28px}
.sjzsq  .container table p{text-align: center;}
.sjzsq  .container  table tr .sjzsq-money{margin-top:10px}
.sjzsq  .container table p{padding:0;margin: 0; line-height: 28px}

.sjzsq-pzyl .table th{font-size: 12px;text-align: center;background: #ddd}
.sjzsq  .container table .sjzsq-td-des button{padding:5px 15px;margin: 0;background: #4679bd;color: #fff;font-size: 14px;margin-top: 4px;margin-bottom: 6px;float: right;margin-right: 28px}
.sjzsq  .container table .shzsq-detail{display: inline-block;float: right;margin-right: 45px;}
.user-edit-info{
	margin-bottom: 150px
}
.user-edit-info .form-group{
	padding-left: 20px;
	margin-top: 20px;
	color: #666;
}
.user-edit-info .form-group span{
	display: inline-block;
	width: 100px;
}

.user-edit-info .sub-button button{
	width: 300px;
	background: #4679bd;
	color: #fff;
	margin-left: 20px;
}

.user-edit-info .sub-title{
	font-weight: bold;
	font-size: 17px;
	padding: 20px;
	margin-top:20px;
}
.user-edit-info .sub-title button{
	background: #4679bd;
	color: #fff;
	margin-left: 50px;
}