<div class="row">
    <div class="col-md-12">
        <div class="box">
        <style type="text/css">
            li{list-style: none;}
            .website ul li{padding: 5px 10px;display: inline-block;font-size: 16px;}
            .website ul .active{color: red}
        </style>
            <div class="box-body website">
                <ul>
                    <a href="{:url('admin/website/index')}" ><li>网站轮播图</li></a>
                    <!-- <a href="{:url('admin/website/webindex')}" ><li>首页</li></a> -->
                    <!-- <a href="{:url('admin/website/datashow')}"><li>数据排名订阅/展示区</li></a> -->
                    <a href="{:url('admin/website/service_content')}"><li>服务内容</li></a>
                    <a href="{:url('admin/website/research_center')}"><li>学研中心</li></a>
                    <a href="{:url('admin/website/guide')}"><li>新人指南</li></a>
                    <a href="{:url('admin/website/personnel')}"><li>人才选拔</li></a>
                    <a href="{:url('admin/website/customer')}"><li>客服中心</li></a>
                    <a href="{:url('admin/website/about')}"><li>关于</li></a>
                    <a href="{:url('admin/website/contact')}"><li>客户服务热线</li></a>
                </ul>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var length = $('.website ul a').length;
// console.log(length)
var url = window.location.href;
// console.log(url)
// (str.indexOf("2") != -1); // true
for (var i = 0; i < length; i++) {
    if(url.indexOf($('.website ul a').eq(i).attr('href')) != -1){
        $('.website ul a').eq(i).find('li').addClass('active')
    }
}

</script>