<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <form class="form-inline" name="searchForm" id="searchForm" action="" method="GET">
                    <div class="form-group">
                        <input value="{$keywords ? $keywords : '' ;}"
                               name="keywords" id="keywords" class="form-control input-sm" placeholder="工作室名称">
                    </div>


                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
                        </button>
                    </div>
                    <div class="form-group">
                        <button onclick="exportData()" class="btn btn-sm btn-default" type="button"><i
                                class="fa fa-download"></i> 导出
                        </button>
                    </div>

                    <div class="form-group">
                        <button onclick="clear_form()" class="btn btn-sm btn-" type="button"><i
                                class="fa  fa-eraser"></i> 清空查询
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            {include file="template/data_header" /}
            <div class="box-body table-responsive">
                <table class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
<!--                         <th>
                            <input id="data-checkall" type="checkbox" onclick="check_all(this)" class="checkbox" placeholder="全选/取消">
                        </th> -->
                        <th>工作室名称</th>
                        <th>工作室ID</th>
                        <th>用户名称</th>
                        <th>用户UID</th>
                        <th>手机号</th>
                        <th>银行开户人</th>
                        <th>银行卡卡号</th>
                        <th>开户行</th>
                        <th>订阅次数</th>
                        <th>订阅费</th>
                        <th>状态</th>
                        <th>提现日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="item"}
                    <tr>

                        <td>{$item.studioname}</td>
                        <td>{$item.studio_id}</td>
                        <td>{$item.username}</td>
                        <td>{$item.uid}</td>
                        <td>{$item.usertel}</td>
                        <td>{$newarr[$item.uid]['username']}</td>
                        <td>{$newarr[$item.uid]['banknum']}</td>
                        <td>{$newarr[$item.uid]['bankname']}</td>
                        <td>{$item.order_num}</td>
                        <td>{$item.price}</td>
                        <td>
                        {if condition="$item.status eq 3"}
                                已提现
                        {elseif condition="$item.status eq 2"}
                                <a class="label label-success AjaxButton" data-toggle="tooltip" title="点击确定提现？" data-id="{$item.id}" data-confirm="1" data-url="apply.html">提现中</a>
                        {elseif condition="$item.status eq 1" /}
                                可提现
                        {elseif condition="$item.status eq 0" /}
                                不可提现
                        {/if}</td>
                        <td>{$item.last_time}</td>

                        <td class="td-do">
                             <a  href="detail_exl/id/{$item.id}" target="_blank"  data-id="{$item.id}"  class="btn btn-default btn-xs" title="导出" data-toggle="tooltip">
                                导出
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {include file="template/data_footer" /}
        </div>
 