        {include file="public/header" /}

        <div class="index-banner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                {foreach name="list" item="item"}
                <li data-target="#carousel-example-generic" data-slide-to="{$key}"></li>
                {/foreach}
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                {foreach name="list" item="item"}
                <div class="item">
                  <img src="{$item.imgurl}">
                </div>
                {/foreach}

              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <script type="text/javascript">
                $('.carousel-indicators li').eq(0).addClass('active')
                $('.carousel-inner .item').eq(0).addClass('active')
            </script>

        </div>
  
        <div class="index">
            <div class="container">
                    <ul>
                            <li>
                            <!-- href="{:url('index/webpage/index_sjfx')}" -->
                                <a style="display: block;margin: 0 auto" class="index-main">
                                    <img src="__STATIC__/index/images/index-1.png">
                                    <p>强大的数据分析</p>
                                    <hr>
                                    <div>
                                        真实账户、原始数据、 <br>客观立体式海量计算分析
                                    </div>
                                </a>
                            </li>

                            <li>
                            <!-- href="{:url('index/webpage/index_kjsd')}" -->
                                <a style="display: block;margin: 0 auto" class="index-main">
                                    <img src="__STATIC__/index/images/index-2.png">
                                    <p>最新科技手段</p>
                                    <hr>
                                    <div>
                                        急速响应、多重安全防护 <br>人性化助力、云科技
                                    </div>
                                </a>
                            </li>

                            <li>
                            <!-- href="{:url('index/webpage/index_xypt')}" -->
                                <a style="display: block;margin: 0 auto" class="index-main">
                                    <img src="__STATIC__/index/images/index-3.png">
                                    <p>创新学研平台</p>
                                    <hr>
                                    <div>
                                        金融市场专业精研平台 <br>金融智库服务平台
                                    </div>
                                </a>
                            </li>

                            <li>
                            <!-- href="{:url('index/webpage/index_pyrc')}" -->
                                <a style="display: block;margin: 0 auto" class="index-main">
                                    <img src="__STATIC__/index/images/index-4.png">
                                    <p>发现人才 培养人才</p>
                                    <hr>
                                    <div>
                                        分享智慧、共享技术  <br>助人助己、体现价值
                                    </div>
                                </a>
                            </li>

                    </ul>

                <script type="text/javascript">
                    $('.index  ul li .index-main').mouseover(function(){
                        var index = $(this).parent('li').index()+1;
                        var src = $(this).find('img').attr('src');
                        var z = "index-"+index+".png";
                        var nz = "index-s"+index+".png";
                        if(src.indexOf(z) >= 0 ) { 
                            var newsrc =  src.replace(z,nz)
                            $(this).find('img').attr('src',newsrc);
                        }
                    })
                    $('.index  ul li .index-main').mouseout(function(){
                        var index = $(this).parent('li').index()+1;
                        var src = $(this).find('img').attr('src');
                        var nz = "index-s"+index+".png";
                        var z = "index-"+index+".png";
                        if(src.indexOf(nz) >= 0 ) { 
                            var newsrc =  src.replace(nz,z)
                            $(this).find('img').attr('src',newsrc);
                        }
                    })
                </script>
            </div>
        </div>
  
        <div class="index_server">
            <p>利用平台的高价值数据和研究工具，最大限度地为自己带来</p>
            <p> 研究成果和竞争技能</p>
           
        </div>

        <div class="indexproduct">
             <p>产品与服务</p>
        </div>

        <div class="fuwuneirong">
            <div class="container">
                <div class="fw-content">
                    <ul>
                        
                        <li>
                            <div>
                                <a href="{:url('index/webpage/service_fxpm')}"><img src="__STATIC__/index/images/fu1.png" width="100"></a>
                                <p>数据分析排名</p>
                                <p class="fucontent">
                                    数据分析排名介绍
                                </p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="{:url('index/webpage/service_sjyj')}"><img src="__STATIC__/index/images/fu2.png" width="100"></a>
                                <p>数据研究</p>
                            </div>
                            <p class="fucontent">
                                数据分析排名介绍
                            </p>

                        </li>
                        <li>
                            <div>
                                <a href="{:url('index/webpage/service_dyfw')}"><img src="__STATIC__/index/images/fu3.png" width="100"></a>
                                <p>订阅服务</p>
                                <p class="fucontent">
                                    数据分析排名介绍
                                </p>

                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="{:url('index/webpage/service_zsfw')}"><img src="__STATIC__/index/images/fu4.png" width="100"></a>
                                <p>展示服务</p>
                                <p class="fucontent">
                                    数据分析排名介绍
                                </p>

                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="{:url('index/webpage/service_psfw')}"><img src="__STATIC__/index/images/fu5.png" width="100"></a>
                                <p>盘手服务</p>
                                <p class="fucontent">
                                    数据分析排名介绍数据分析排名介绍数据分析排名介绍
                                </p>

                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="{:url('index/webpage/service_djfw')}"><img src="__STATIC__/index/images/fu6.png" width="100"></a>
                                <p>对接服务</p>
                                <p class="fucontent">
                                    数据分析排名介绍
                                </p>

                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="{:url('index/webpage/service_dzfw')}"><img src="__STATIC__/index/images/fu7.png" width="100"></a>
                                <p>定制服务</p>
                                <p class="fucontent">
                                    数据分析排名介绍
                                </p>

                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="{:url('index/webpage/service_qtfw')}"><img src="__STATIC__/index/images/fu8.png" width="100"></a>
                                <p>其他服务</p>
                                <p class="fucontent">
                                    数据分析排名介绍数据分析排名介绍数据分析排名介绍</p>

                            </div>
                        </li>

                    </ul>
                </div>
                <script type="text/javascript">

                    $('.fw-content ul li div').mouseover(function(){
                        var index = $(this).parent('li').index()+1;

                        var src = $(this).find('img').attr('src');

                        var z = "fu"+index+".png";
                        var nz = "fuzx"+index+".png";
                        if(src.indexOf(z) >= 0 ) { 
                            var newsrc =  src.replace(z,nz)
                            $(this).find('img').attr('src',newsrc);
                           
                        }
                    })
                    $('.fw-content ul li div').mouseout(function(){
                        var index = $(this).parent('li').index()+1;

                        var src = $(this).find('img').attr('src');

                        var nz = "fuzx"+index+".png";
                        var z = "fu"+index+".png";
                        if(src.indexOf(nz) >= 0 ) { 
                            var newsrc =  src.replace(nz,z)
                            $(this).find('img').attr('src',newsrc);                           
                        }
                    })
                </script>
            </div>
        </div>


        <div class="index-link">
            <div class="container">
                <div class="link-title">友情链接</div>
                <div class="link-item">
                    <div>
                        {foreach name="linklist" item="item"}
                        <a target="_blank" href="{$item.url}"><span>{$item.title}</span></a>
                        {/foreach}

<!--                         <a target="_blank" href="https://www.yicai.com"><span>第一财经</span></a>
                        <a target="_blank" href="http://www.hexun.com"><span>和讯网</span></a>
                        <a target="_blank" href="https://finance.sina.com.cn"><span>新浪期货</span></a>
                        <a target="_blank" href="http://www.stcn.com"><span>证券时报</span></a>
                        <a target="_blank" href="http://www.dce.com.cn"><span>大商所</span></a>
                        <a target="_blank" href="http://www.sse.com.cn"><span>证交所</span></a>
                        <a target="_blank" href="http://www.szse.cn"><span>深交所</span></a>
                        <a target="_blank" href="http://www.cfmmc.com"><span>中国期货保证金监控中心</span></a>
                        <a target="_blank" href="http://www.jrj.com.cn"><span>金融界</span></a>
                        <a target="_blank" href="http://www.qhrb.com.cn"><span>期货日报</span></a>
                        <a target="_blank" href="http://www.shfe.com.cn"><span>上期所</span></a>
                        <a target="_blank" href="http://www.cffex.com.cn"><span>中金所</span></a>
                        <a target="_blank" href="http://www.ine.cn"><span>能源所</span></a>
                        <a target="_blank" href="http://2016.sse.com.cn"><span>上交所</span></a> -->
                    </div>
                </div>
            </div>
        </div>
        {include file="public/footer" /}
        
        