        {include file="public/header" /}

        <div class="fuwuneirong">
            <div class="container">
  
<table>
    <tr>
        <th>工作室名称</th>
        <th>有效期</th>
        <th>状态</th>
        <th>接受实时记录</th>
    </tr>

    <tr>
        <td>随风而去</td>
        <td>2019年8月6号-2019年9月5号</td>
        <td>有效</td>
        <td>
            <button class="btn btn-xs btn-info">接受</button>
            <button class="btn btn-xs">关闭</button>
        </td>
    </tr>      
</table>

            </div>
        </div>
        {include file="public/footer" /}
        
        