		{include file="public/header" /}
		<div class="register-login">
			<div class="container">
				<div class="content" style="padding: 0">
					<div class="content-left">
						<!-- <h1>投资界</h1>
						<div class="des">
							<p>Investment</p> 
							<p>community</p>
						</div> -->
						<div style="width: 100%;"><img src="__STATIC__/images/logo2.png"> </div>
					</div>
					<div class="content-right">
						<div class="title">重置密码</div>
						<form>
							<div class="text-input">
								<div class="input-icon">
									<img src="__STATIC__/index/images/name.png">
								</div>
								<div class="input">
									<input type="text" name="usertel" placeholder="请输入手机号码">
								</div>
							</div>
							<div class="text-input">
								<div class="input-icon">
									<img src="__STATIC__/index/images/pwd.png">
								</div>
								<div class="input">
									<input type="password" name="newpassword" placeholder="请输入新密码">
								</div>
							</div>

							<div class="text-input">
								<div class="input-icon">
									<!-- <img src="__STATIC__/index/images/name.png"> -->
								</div>
								<div class="input">
									<input type="password" name="againpassword" placeholder="请再次输入新密码">
								</div>
							</div>

							<div class="text-input">
								<div class="input-icon">
									<img src="__STATIC__/index/images/yam.png">
								</div>
								<div class="yzm">
									<input type="text" name="yzm" placeholder="请输入验证码">
								</div>
								<div class="yzmtext">
									看不清，换一张
								</div>
							</div>

							<div class="text-input">
								<div class="input-icon">
								</div>
								<div>
									<div class="yzmnum" style="width: 50%;float: left;"><img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}?'+Math.random();" style="width: 100%;" /></div>
								</div>
							</div>

							<div class="text-input">
								<div class="input-icon">
									<img src="__STATIC__/index/images/sjyam.png">
								</div>
								<div class="sjyzm">
									<input type="text" name="smyzm" placeholder="请输入短信验证码">
								</div>
								<div class="yzm-time">
						
									<a class="btn btn-xs button" id="gSMS" onclick="get_sms_captcha()">获取验证码</a>
								</div>
							</div>
							<input type="hidden" name="yzmtoken">

							<div class="mkpwd"><button>确定重置密码</button></div>
							<div class="fanhui"><button>返回</button></div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script>
			var countDownT = 10;
			function get_sms_captcha(type){
			    //下方写业务
			    let tel = $('input[name=usertel]').val();
			    if(tel.length!=11){
			    	layer.msg('手机号不正确');
			    	return false;
			    }
			    countDownT = 10;
			    $.ajax({
			    	url:"{:url('index/login/verify')}",
			    	data:{tel:tel},
			    	success:function(res){
			    		if(res.code==0){
							layer.msg(res.msg,{
	                            time:1000,
	                            end:function () {
	                             	window.location.reload();
	                            }
	                        })
			    		}else{
			    			setTime();
			    			$('input[name=yzmtoken]').val(res.msg)
			    		}
			    	}
			    })
			}


			function  setTime(){
			    if (countDownT == 0){
			        $("#gSMS").attr("onclick","get_sms_captcha()");
			        $("#gSMS").attr("disabled",false);
			        $("#gSMS").text("获取短信验证码");
			    } else{
			        $("#gSMS").attr("onclick","");
			        $("#gSMS").attr("disabled","disabled");
			        $("#gSMS").text("重新发送("+countDownT+")");
			        countDownT--;
			        setTimeout(function () {
			            setTime();
			        },1000)
			    }
			}


			$('.mkpwd button').click(function(){
				let usertel = $('input[name=usertel]').val()
				let yzm = $('input[name=yzm]').val()
				let smyzm = $('input[name=smyzm]').val()
				let newpassword = $('input[name=newpassword]').val()
				let againpassword = $('input[name=againpassword]').val()
				if(!usertel ||!yzm ||!smyzm ||!newpassword ||!againpassword){
					layer.msg('请确定信息完整 ！');
					return false;
				}
				$.ajax({
					url:"",
					data:$('form').serialize(),
					type:'post',
					success:function(res){
						if(res.code==1){
							layer.msg(res.msg,{
	                            time:1000,
	                            end:function () {
	                             	window.location.href = "{:url('index/login/login')}";
	                            }
	                        })
						}else{
							layer.msg(res.msg)
						}

					}
				})
				return false;

			})

		</script>
  {include file="public/footer" /}