		
				<script>
							function xiaozhexian(element,x,y){
				// hideLine
				// heatline
				// regionFill
				// hideDots
							let trends_data = {
								labels: x,
								datasets: [
									{
										values: y
									}
								]
							};

							let plotChartArgs = {
								// title: "Mean Total Sunspot Count - Yearly",
								data: trends_data,
								type: 'line',
								height: 100,
								colors: ['#238e38'],
								lineOptions: {
									hideDots: 1,
									heatline: 1,
								},
								axisOptions: {
									xAxisMode: 'tick',
									yAxisMode: 'span',
									xIsSeries: 1
								}
							};

							let type = 'regionFill';
							let config = {};
							config[type] = 1;

							if(['regionFill', 'heatline'].includes(type)) {
								config.hideDots = 1;
							}

							plotChartArgs.init = false;
							plotChartArgs.lineOptions = config;
							new Chart(element, plotChartArgs);

				}

				</script>



				<style type="text/css">
				.line-chart .x{display: none}
				.line-chart .y{display: none}
				.graph-stats-container{display: none !important;}
				.chart-container .graphics{padding:0;margin:0;}
				.chart-container .title{display: none}
				.graph-svg-tip{display: none}
				.uppercase{display: none}
				</style>

				<table class="table table-striped">

				{foreach name="arr" item="item"}
					<tr>
						<td style="width: 50px;text-align: center;">
							<span class="sjdyq-number">1</span>
						</td>
						<td class="user-info">
							<span class="user-name">张三</span>
							<span class="user-uid">UID：123456</span>
						</td>
						<td style="width: 180px;position: relative;padding: 0; height: 100px">
							<div id="chart-trends{$key}" style="position:absolute;left: -68px;width:260px ;height: 100px;"></div>
							<script type="text/javascript">
							x = JSON.parse('{$item.x}');
							y = JSON.parse('{$item.y}');
							xiaozhexian("#chart-trends{$key}",x,y);</script>
						</td>
						<td style="width: 620px" class="datadetail">
							<div class="sjdyq-td-item active">
								<span>综合积分</span>
								<span>净值</span>
								<span>年化收益率</span>
								<span>胜率</span>
								<span>最大回撤率</span>
								<span>盈亏比</span>
								<span>夏普比率</span>
								<span>盈亏效率</span>
								
							</div>
							<div  class="sjdyq-td-item">
								<span>{$item.score}</span>
								<span>{$item.mulNetValue}</span>
								<span>{$item.mulNetValue}</span>
								<span>{$item.mulProfitRatioPerYear}</span>
								<span>{$item.maxReduceRatio}</span>
								<span>{$item.totalWinLossRatio}</span>
								<span>{$item.sharpRatio}</span>
								<span>{$item.winLossRatio}</span>

							</div>
							<div class="sjdyq-td-des">
								<span>累计收益率：{$item.mulProfitRatio} </span>
								<span>净利润：{$item.netProfit}</span>
								<span>资金规模：{$item.initialFund}</span>
							</div>
						</td>
						<td class="sjdyq-dynum">
							<p class="num">订阅人数</p>
								<p>1</p>
								<p>
									<a href="{:url('index/studioinfo/index',array('uid'=>1))}">详情</a>
								</p>
						</td>
						<td class="sjdyq-dingyue">
							<p class="sjdyq-money">订阅费</p>
							<p>400元/月</p>
							<p><button class="btn">订阅</button></p>
						</td>
					</tr>
				{/foreach}
				</table>


<link rel="stylesheet" type="text/css" href="__STATIC__/common/page/css/page.css">
<div style="text-align: center;">
	<div id="pager" class="pager clearfix">
	</div>
</div>
<script src="__STATIC__/common/page/js/jquery.z-pager.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$("#pager").zPager({
	totalData: {$count|default='1'},
	htmlBox: $('#wraper'),
	current: {$pagenum|default='1'}, //当前页码数
	btnShow: true,
	ajaxSetData: false,
	dataRender: function(data) {
		console.log(data + '---data-2');
		alert(data);
	},
});
// $('#pager a').click(function(){
// 	var pageid = $(this).attr('page-id');
// 	console.log(pageid)
// })

function pagego(id){
	console.log(id)
		var html='<div style="width: 100%;padding: 100px 0px;text-align: center;"><img src="http://www.51dewen.com/static/admin/plugins/layer/skin/default/loading-1.gif"></div>'
			$('.sjdyq .container').html(html)

		$.ajax({
			url:"{:url('Datasub/info')}",
			data:{pagenum:id},
			success:function(res){
				$('.sjdyq .container').html(res)
			}
		})

}
</script>

