		{include file="public/header1" /}
        <div class="index-banner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="item">
                  <img src="{$menuList[1]['headimg']}">
                </div>
             </div>
        </div>
  		
  		<div class="sjzsq-des">
			<div class="container" style="font-size: 26px;padding:20px 130px;">
				{$companyinfo.sub_title}
			</div>
  		</div>

  		<div class="sjzsq-title">
			<div class="container"  style="min-width: 1170px">
				<div class="button btn">期货实盘排行榜</div>
	  		</div>
  		</div>

  		<div class="sjdyq-item">
			<div class="container"  style="min-width: 1170px">
				<span>排序方式:</span>
				<ul>
					<li class="active" data="score">综合积分</li>
					<li data="netValue">净值</li>
					<li data="mulProfitRatio">累计收益率</li>
					<li data="mulProfitRatioPerYear">年化收益率</li>
					<li data="winRate">胜率</li>
					<li data="maxReduceRatio">最大回撤率</li>
					<li data="winLossRatio">盈亏率</li>
					<li data="sharpRatio">夏普比率</li>
					<li data="netProfit">规模</li>
					<li data="netProfit">净利润</li>
					<li data="efficiency">盈亏效率</li>
				</ul>
	  		</div>
  		</div>


		<div class="sjzsq">
			<div class="container"  style="min-width: 1170px">
				<div style="width: 100%;padding: 100px 0px;text-align: center;">
					<img src="http://www.51dewen.com/static/admin/plugins/layer/skin/default/loading-1.gif">
				</div>

			</div>
		</div>
		{include file="public/footer1" /}

		<script type="text/javascript">
			// let x,y;
			var type;
			$('.sjdyq-item .container ul li').click(function(){
				type = $(this).attr('data');
				$(this).addClass('active').siblings().removeClass('active')
				var html='<div style="width: 100%;padding: 100px 0px;text-align: center;"><img src="/static/admin/plugins/layer/skin/default/loading-1.gif"></div>'
			$('.sjzsq .container').html(html)
				get_info(type);
			})

			get_info('score');
			function get_info(type){
				$.ajax({
					url:"{:url('Datashow/info')}",
					data:{type:type},
					success:function(res){
						$('.sjzsq .container').html(res)
					}
				})
			}

		</script>