		{include file="public/header1" /}
        <div class="index-banner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="item">
                  <img src="{$menuList[2]['headimg']}">
                </div>
             </div>
        </div>
        
		<div class="fuwuneirong">
			<div class="container">
                <div class="fw-content">
                    <ul>
                            {foreach name="fuwulist" item="item"}
                                <li>
                                    <div style="width: 30%;height: 130px;float: left;text-align: center;">
                                        <a href="{:url($item.pageurl)}"><img src="__STATIC__/images/fuwu/{$key+1}.png" width="100"></a>
                                        <a href="{:url($item.pageurl)}"><p style="text-align: center;font-size: 23px;line-height: 25px;padding-top: 20px;color: #000">{$item.title}</p></a>
                                    </div>

                                    <div style="width: 70%;height: 130px;float: left;">
                                        <a href="{:url($item.pageurl)}"><div class="fucontent" style="font-size: 17px">
                                            {$item.desc}
                                        </div>
                                        </a>
                                    </div>
                                </li>
                            {/foreach}
                    </ul>
    			</div>
            </div>
		</div>
		{include file="public/footer" /}

  