		{include file="public/header1" /}
        <div class="index-banner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="item">
                  <img src="{$menuList[4]['headimg']}">
                </div>
             </div>
        </div>
        
		<div class="fuwuneirong-copy">
			<div class="container">


                <div class="fw-content-copy">
                    {$info['webcontent']}
                </div>

			</div>
		</div>
		{include file="public/footer" /}

  