			<table>
				<tr>
					<th>工作室名称</th>
					<th>收藏日期</th>
					<th>操作</th>
				</tr>

				<tr>
					<td>随风而去</td>
					<td>2019年8月6号</td>
					<td>
						<button class="btn btn-xs">删除</button>
					</td>
				</tr>							<tr>
					<td>随风而去</td>
					<td>2019年8月6号</td>
					<td>
						<button class="btn btn-xs">删除</button>
					</td>
				</tr>							<tr>
					<td>随风而去</td>
					<td>2019年8月6号</td>
					<td>
						<button class="btn btn-xs">删除</button>
					</td>
				</tr>							<tr>
					<td>随风而去</td>
					<td>2019年8月6号</td>
					<td>
						<button class="btn btn-xs">删除</button>
					</td>
				</tr>
			</table>