			<div>
				<p class="coupon-title">有效券：</p>

				{foreach name="youxiao" item="item"}
				<div class="coupon-icon">
					<img src="__STATIC__/index/images/quan.png">
					<p class="free-time">免费订阅{$item.number}天</p>
					<p class="youxiao-time">有效期：{$item.datetime}</p>
					<p class="tiyan-coupan">体验券</p>
				</div>
				{/foreach}

			</div>

			<div>
				<p class="coupon-title">已使用：</p>
				{foreach name="shiyong" item="item"}
				<div class="coupon-icon">
					<img src="__STATIC__/index/images/quan.png">
					<p class="free-time">免费订阅{$item.number}天</p>
					<p class="youxiao-time">有效期：{$item.datetime}</p>
					<p class="tiyan-coupan">体验券</p>
				</div>
				{/foreach}
			</div>

			<div>
				<p class="coupon-title">已过期：</p>
				{foreach name="wuxiao" item="item"}
				<div class="coupon-icon">
					<img src="__STATIC__/index/images/quan.png">
					<p class="free-time">免费订阅{$item.number}天</p>
					<p class="youxiao-time">有效期：{$item.datetime}</p>
					<p class="tiyan-coupan">体验券</p>
				</div>
				{/foreach}
			</div>