<link rel="stylesheet" type="text/css" href="__STATIC__/common/paging/paging.css">
<script type="text/javascript" src="__STATIC__/common/paging/paging.js"></script>
<script type="text/javascript" src="__STATIC__/common/paging/page.js"></script>
<script type="text/javascript" src="__STATIC__/common/paging/jquery.tmpl.min.js"></script>
<style type="text/css">
/*.count-page{display: none}*/
.count-page{padding-left: 20px}
/*.ui-paging-container{float: inherit !important;}*/
</style>
<table>
	<tr>
		<th>工作室名称</th>
		<th>有效期</th>
		<th>状态</th>
		<th>接受实时记录</th>
	</tr>


        <tbody id="content" class="table-b">
            <tr>
                <td colspan="4" style="text-align: center">
                    暂无数据
                </td>
            </tr>
        </tbody>


<!-- {volist name='list' id='user'}
	<tr>
		<td>随风而去</td>
		<td>2019年8月6号-2019年9月5号</td>
		<td>有效</td>
		<td>
			<button class="btn btn-xs btn-info">接受</button>
			<button class="btn btn-xs">关闭</button>
		</td>
	</tr>							
{/volist}
 -->

	<!-- <tr>
		<td>随风而去</td>
		<td>2019年8月6号-2019年9月5号</td>
		<td>有效</td>
		<td>
			<button class="btn btn-xs btn-info">接受</button>
			<button class="btn btn-xs">关闭</button>
		</td>
	</tr>							<tr>
		<td>随风而去</td>
		<td>2019年8月6号-2019年9月5号</td>
		<td>有效</td>
		<td>
			<button class="btn btn-xs btn-info">接受</button>
			<button class="btn btn-xs">关闭</button>
		</td>
	</tr>							<tr>
		<td>随风而去</td>
		<td>2019年8月6号-2019年9月5号</td>
		<td>有效</td>
		<td>
			<button class="btn btn-xs btn-info">接受</button>
			<button class="btn btn-xs">关闭</button>
		</td>
	</tr> -->
</table>

    <!-- 列表底部按钮 -->
    <div class="paginations">
        <div id="pageTool"><p class="count-page"></p></div>
    </div>
<script id="tpl" type="text/x-jquery-tmpl">

    <tr class="table-b1">
		<td>${title}</td>
		<td>2019年8月6号-2019年9月5号</td>
		<td>有效</td>
		<td>
			<button class="btn btn-xs btn-info">接受</button>
			<button class="btn btn-xs">关闭</button>
		</td>
</script>

<script type="text/javascript">
    $('#pageTool').page("{:url('Subscribe/ajax_studio')}", function (data, obj) {
        // 分页
        if (data.data.count > 0) {
            $("#content").html('');
            $("#tpl").tmpl(data.data.data).appendTo('#content');
        } else {
            var tpl = '<tr><td colspan="4" style="text-align: center">暂无数据</td></tr>';
            $("#content").html(tpl);
        }


        // $('.search-btn').off("click").on('click', function(){
        //     var name = $('input[name=title]').val()
        //     obj.ajax({cur: 1, size: data.size, key:name})
        // })


    });


</script>
