<footer>
            <div class="container">
                <div class="footer-main">
                    <div class="footer-item">
                        <div class="title">
                            投资界
                        </div>
                        <div class="footer-descript">
                            <p>Investment</p>
                            <p>community</p>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="kfzx">客服中心</div>
                        <div class="kfzx-item">
                            <ul>
                                <li>新人指南</li>
                                <li>使用手册</li>
                                <li>常见问题</li>
                                <li>用户中心</li>
                                <li>投诉建议</li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="kfzx">关于</div>
                        <div class="kfzx-item">
                            <ul>
                                <li>关于我们</li>
                                <li>合作伙伴</li>
                                <li>招贤纳才</li>
                                <li>联系方式</li>
                                <li>法律声明</li>
                                <li>免责条款</li>
                                <li>用户须知</li>
                                <li>加盟合作</li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="kfzx">客户服务热线</div>

                        <div class="lianxi">
                            <div class="lx-item">
                                <img src="__STATIC__/index/images/tel.png">
                                <div>400-12312312</div>
                            </div>
                            <div class="lx-item">
                                <img src="__STATIC__/index/images/wx.png">
                                <div>weixinID</div>
                            </div>
                            <div class="lx-item">
                                <img src="__STATIC__/index/images/time.png">
                                <div>周一至周五 8:30-17:00</div>
                            </div>
                            <div class="lx-item">
                                <img src="__STATIC__/index/images/address.png">
                                <div>上海市徐汇区</div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-item">
                        <div class="kfzx">关注我们</div>
                        <div class="qrcode">
                            <img src="__STATIC__/index/images/qrcode.png">
                        </div>
                    </div>
                </div>

                <div class="banquan">Copyright©2019-2025投资界版权所有|苏ICP备15016032号-1</div>
            </div>
        </footer>

    </body>
</html>