<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{$title}</title>
    <script src="__STATIC__/index/js/jq.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="__STATIC__/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="__STATIC__/layer/layer.js"></script>

    <script src="__STATIC__/highcharts-plugins/highcharts.js"></script>
    <script src="__STATIC__/highcharts-plugins/exporting.js"></script>
    <script src="__STATIC__/highcharts-plugins/oldie.js"></script>
    <script src="__STATIC__/highcharts-plugins/highcharts-zh_CN.js"></script>


    <!-- Bootstrap -->
    <link href="__STATIC__/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->

    <link href="__STATIC__/index/css/public.css" rel="stylesheet">
    <link href="__STATIC__/index/css/style.css" rel="stylesheet">
  </head>
    <body style="min-width: 1350px">
        <header style="">
            <div class="container">
                <div class="web_logo">
                    <div class="title">投资界</div>
                    <div class="web_url">www.baidi.com</div>
                </div>
                <div class="descript">
                    <p>领先的金融智库服务商</p>
                    <p>市场数据学习研究平台</p>
                </div>
                <div class="nav">
                    <ul>

                        <li><a href="{:url('index/index/index')}">首页</a></li>
                        {foreach name="menuList" item="item"}
                            <li><a href="{:url($item.url)}">{$item.title}</a></li>
                        {/foreach}
                        
<!--                         <li><a href="{:url('index/index/index')}">首页</a></li>
                        <li><a href="{:url('index/datasub/index')}">数据排名订阅区</a></li>
                        <li><a href="{:url('index/datashow/index')}">数据排名展示区</a></li>
                        <li><a href="{:url('index/service/content')}">服务内容</a></li>
                        <li><a href="{:url('index/service/research')}">学研中心</a></li>
                        <li><a href="{:url('index/service/guide')}">新手指南</a></li> -->
                    </ul>
                </div>


                {if condition="$status eq 1"}
                    <div class="login-user">
                        <span><a href="{:url('index/Subscribe/index')}" class="reg">{$userinfo.username} ,用户中心</a></span> 
                        <button class="btn btn-xs"><a href="{:url('index/login/loginout')}">退出</a></button>
                    </div>

                {elseif condition="$status eq 3" /}

                     <div class="login-reg">
                        <span ><a href="{:url('index/login/register')}" class="reg">用户中心</a></span>
                        <span ><a href="{:url('index/login/loginout')}" class="login">退出</a></span>
                    </div>
                {else /}
                     <div class="login-reg">
                        <span ><a href="{:url('index/login/register')}" class="reg">注册</a></span>
                        <span ><a href="{:url('index/login/login')}" class="login">登录</a></span>
                    </div>

                {/if}
    
                
            </div>
        </header>

        <script type="text/javascript">
            var href = window.location.href;
            var host = window.location.host;
            // console.log(href)
            // console.log(host)
            var length = $('.nav ul li').length;
            // console.log(length)
            for (var i = 0; i < length; i++) {
                if(href.indexOf($('.nav ul li').eq(i).find('a').attr('href')) != -1){
                    $('.nav ul li').eq(i).find('a').css('border-bottom','1px solid').siblings().css('border-bottom','none');
                }
            }


        </script>