<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <form class="form-inline" name="searchForm" id="searchForm" action="" method="GET">
                    <div class="form-group">
                        <input value="{$keywords ? $keywords : '' ;}"
                               name="keywords" id="keywords" class="form-control input-sm" placeholder="工作室名称/工作室UID">
                    </div>


                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
                        </button>
                    </div>
                    <div class="form-group">
                        <button onclick="exportData()" class="btn btn-sm btn-default" type="button"><i
                                class="fa fa-download"></i> 导出
                        </button>
                    </div>

                    <div class="form-group">
                        <button onclick="clear_form()" class="btn btn-sm btn-" type="button"><i
                                class="fa  fa-eraser"></i> 清空查询
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            {include file="template/data_header" /}
            <div class="box-body table-responsive">
                <table class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>排名序号</th>
                        <th>工作室名称</th>
                        <th>工作室UID</th>
                        <th>综合积分</th>
                        <th>净值</th>
                        <th>年化收益率</th>
                        <th>胜率</th>
                        <th>最大回撤率</th>
                        <th>盈亏比</th>
                        <th>夏普比率</th>
                        <th>盈亏效率</th>
                        <th>累计收益率：</th>
                        <th>净利润：</th>
                        <th>资金规模：</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="item"}
                    <tr>
                        <td>{$startnumber+$key+1}</td>
                        <td>{$item.studioname}</td>
                        <td>{$item.id}</td>
                        <td>{$item.score}</td>
                        <td>{$item.netValue}</td>
                        <td>{$item.mulProfitRatioPerYear}</td>
                        <td>{$item.winRate}</td>
                        <td>{$item.maxReduceRatio}</td>
                        <td>{$item.winLossRatio}</td>
                        <td>{$item.sharpRatio}</td>
                        <td>{$item.efficiency}</td>
                        <td>{$item.mulProfitRatio}</td>
                        <td>{$item.netProfit}</td>
                        <td>{$item.initialFund}</td>

                        <td class="td-do">
                            {if $item.ranking == 1}
                            <button  data-url="rangking.html?id={$item.id}" data-id="{$item.id}"  class="AjaxButton btn btn-default btn-xs" title="取消排名" data-toggle="tooltip">
                                取消排名
                            </button>
                            {else /}
                             <button  data-url="rangk.html?id={$item.id}" data-id="{$item.id}"  class="AjaxButton btn btn-success btn-xs" title="取消排名" data-toggle="tooltip">
                                显示排名
                            </button>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {include file="template/data_footer" /}
        </div>
 