<div class="row">
    <div class="col-md-12">
        <div class="box">
        <style type="text/css">
            li{list-style: none;}
            .website ul li{padding: 5px 10px;display: inline-block;font-size: 16px;}
            .website ul .active{color: red}
        </style>
            <div class="box-body website">
                <ul>
                    <a href="{:url('admin/website/index')}" ><li>网站轮播图</li></a>
                    <a href="{:url('admin/website/webindex')}" ><li>首页</li></a>

                </ul>

            </div>
        </div>
    </div>
</div>