@media screen and (max-width: 1350px) {
	header .container{width: 100%}
	.descript    {display: none}
	.nav {min-width: 600px;float: left;margin-left: 5px;}

	.index .container{width: 100%;}
	.index-link .container{width: 100%;}
	.register-login .content{min-width: inherit;width: 578px}
	.content-left{display: none;}
	footer  .container .footer-item:nth-child(1){display: none}
	footer .container .footer-item{width: 25%;float: left;height: 230px;}
	.content .content-right{width: 100%;}

}
@media (max-width: 1200px){
	.web_logo{display: none}
	.index .container{width: 100%;}
	.index-link .link-item span{line-height: 26px}
	.index-link .link-title{width: 15%;float: left;}
	.index-link .link-item{width: 83%;float: left;}
	.index .container ul li{width: 50%;margin-top: 50px;text-align: center;}
	.index .container ul li .index-main{display: inline-block; text-align: center;float: inherit;}
	.sub-right{width: 700px; }
}

@media (max-width: 950px){
	.web_logo{display:block;}
	.nav{display:none;}
	.login-user {
	    width: 140px;
	    float: left;
	    height: 60px;
	    text-align: center;
	    padding: 14px 0;
	    margin-left: 20px;
	}
}


@media (max-width: 650px){
	header{height: 60px}
	.web_logo{height: 60px}
	.title {
	    margin-top: 7.5px;
	    text-align: center;
	    height: 45px;
	}
	.index-link{display: none}
	.index .container{padding: 0}
	.index .container ul li .index-main{display: inline-block; text-align: center;float: inherit;}
	.index .container ul li{width: 100%;margin-top: 25px;text-align: center;float: inherit;}


	.register-login .content{min-width: inherit;width:100%;}
	.register-login .reg-text-input{width:90%;}
	.reg-text-input .reg-input-icon{width: 35%;}
	.reg-text-input .input{width: 64%;}
	.reg-text-input{margin-top: 28px;}
	.login-reg{padding: 0;width: 100px;margin-top: 15px;}
	.login-user {
	    width: 100px;
	    float: left;
	    height: 60px;
	    text-align: center;
	    padding: 14px 0;
	    margin-left: 20px;
	}
	.login-user button{
		margin-left:0;
	}


	.fw-content ul li{width: 50%;}



	footer  .container .footer-item:nth-child(2){
		display: none;
	}
	footer  .container .footer-item:nth-child(3){
		display: none
	}
	footer .container .footer-item{
		width: 50%;
		float: left;
		height: 230px;
	}

	.nav{
		display: none
	}	


	footer  .container .footer-item:nth-child(4){
		display: none
	}
	footer .container .footer-item{
		width: 100%;
		float: left;
		height: 230px;
	}
	.fw-content ul li p{
		height: 90px;
		overflow: hidden;
		padding: 5px 15px;
	}

}